$font-stack: 'Karla', Arial, sans-serif;
$primary-color: rgb(104, 64, 143);
$secondary-color: rgb(72, 46, 99);
$right-sidebar-color: #DCCEF5;

%sidebar-flexbox {
    display: flex;
    flex-direction: column;
}

*, *::before, *::after{
    box-sizing: border-box;
    
}

body {
  font: 100% $font-stack;
}

.container{
    display: flex;
    width: 100%;
}

:root{
    --left-sidebar-width: 300px;
    --right-sidebar-width: 30vw;
}

.left-sidebar{
    display: block;
    position: sticky;
    flex-direction: column;
    border-right: 1px solid rgba(230, 230, 230, 1);
    width: var(--left-sidebar-width);  
}

.top-sidebar{
    @extend %sidebar-flexbox;
    margin-left: 60px;
    color: $primary-color;
}

.middle-sidebar ul{
    @extend %sidebar-flexbox;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 24px;
}

.sidebar-item {
    display: flex;
    align-items: center; 
}

.sidebar-item i {
    color: $primary-color;
    padding-right: 25px;
}

.sidebar-item p {
    font: $font-stack;
    font-weight: bold;
    font-size: 20px;
    margin: 13px 0px;
}

.tweet-option {
    background-color: $primary-color;
    color: white;
    font: $font-stack;
    font-weight: bold;
    font-size: 17px;
    padding: 15px 90px;
    margin-left: 50px;
    border: none;
    border-radius: 50px;
}

.tweet-option:hover {
    background-color: $secondary-color;
    transition: background-color .5s;
    cursor: pointer;
}

.sidebar-item {
    background-color: white;
    transition: background-color .5s;
    cursor: pointer;
}  

.sidebar-item:hover {
    background-color: rgb(197, 197, 195);
    padding-left: 10px;
    border-radius: 50px;
}

.bottom-sidebar{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}   

.bottom-sidebar img{
    border-radius: 50%;
}

.user-info p {
    margin: 5px;
    font-weight: bold;
}

.user-email {
    color: gray;
}

.bottom-sidebar .sidebar-profile-img > img{
    border-radius: 50%;
}

/* MAIN SECTION */
/* MAIN SECTION -COMMON- */

.main-tweet {
  width: 50vw;
  margin-right: 30px;
}

.main-tweet i {
  color: $primary-color;
}

.main-tweet i:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: 0.5s;
}

/* EDIT TWEET */
.edit-tweet {
  padding: 10px 10px;
  border: 1px solid rgba(243, 243, 243, 0.5); 
}

.edit-tweet-heading {
  display: flex;
  justify-content: space-between;
}

.heading-home {
  font-size: 20px;
  color: rgb(15, 20, 25);
  font-family: Arial;
  font-weight: bold;
}

.heading-home:hover {
  cursor: pointer;
}

.btn-top-tweets {
  width: 34px;
  height: 34px;
  border: none;
  background-color: transparent;
}

.edit-tweet-main {
  display: flex;
}

.img-profile-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.img-profile-icon:hover {
  cursor: pointer;
  filter: brightness(90%);
  transition: 0.5s;
}

.edit-tweet-right {
  width: 85%;
}

.icons-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-wrapper .fa-solid {
  padding-right: 20px;
}

.input-tweet {
  width: 500px;
  height: 75px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: transparent;
}

.btn-tweet {
  width: 85px;
  height: 40px;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: Arial;
  font-weight: bold;
  background-color: $primary-color;
}

.btn-tweet:hover {
  background-color: $secondary-color;
  transition: background-color .5s;
  cursor: pointer;
}


/* TWEET */
.content-tweet {
  padding: 10px 10px;
  border: 1px solid rgba(243, 243, 243, 0.5); 
  display: flex;
}

.content-tweet:hover {
  background-color: rgba(235, 235, 235, 0.4);
  cursor: pointer;
  transition: 0.5s;
}

.content-tweet-right {
  width: 85%;
}

.content-tweet-name {
  font-family: Arial;
  font-weight: bold;
}

.content-tweet-name:hover {
  text-decoration: underline;
}

.content-id-time {
  font-size: 15px;
  color: rgb(83, 100, 113);
}

.content-img {
  width: 500px;
  height: 285px;
  border-radius: 20px;
}

.content-tweet-heading {
  display: flex;
  justify-content: space-between;
}

.btn-more {
  border: none;
  background-color: transparent;
}

.content-img:hover {
  cursor: pointer;
}

.icons-reaction {
  display: flex;
  /* justify-content: space-around; */
  padding: 10px 0;
}

.icons-reaction-wrapper {
  width: 30%;
}

/* Right Sidebar CSS */
.search {
    display:flex;
    margin-top: 10px; 
    margin-bottom: 10px;   
}

.search-bar {
    border-color: $right-sidebar-color;
    border-radius: 0px 15px 15px 0px;
    background-color: $right-sidebar-color;
    border-left: none;
    padding-left:0;
    width: 235px;
}

.search-button {
    border-color: $right-sidebar-color;
    border-radius: 15px 0px 0px 15px;
    background-color: $right-sidebar-color;
    border-right: none;
    padding-right:0;
    height: 30px;
}

.news {
    background-color: $right-sidebar-color;
    width: 20vw;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.news-main-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

.news-text-container {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.news-period {
    font-size: 10px;
    color: gray;
    margin-top: 0;
}

.news-title {
    font-size:12px;
    font-weight: bold;
}

.news-image {
    height: 68px;
    width: 68px;
    border-radius: 15px 15px 15px 15px;
}

.show-more {
    font-size: 12px;
    color: $primary-color;
}

.who-to-follow {
    background-color: $right-sidebar-color;
    width: 20vw;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.who-to-follow-main-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;

}

.who-to-follow-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.who-to-follow-image {
    height: 47px;
    width: 47px;
    border-radius: 50px 50px 50px 50px;
}

.who-to-follow-contact {
    margin-left: 10px;
    width: 40%; /*added by Megumi */
}

.who-to-follow-name {
    font-weight: bold;
    font-size: 10px;
}

.who-to-follow-at {
    font-size: 10px;
    color: gray;
}

.follow-button {
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 12px 5px 12px;
    margin-left: 50px;
    border: none;
    border-radius: 50px;
}

.terms-text {
    font-size: 10px;
    color: gray;
    margin: 2px 2px 2px 2px;
}

/* main  */